* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #A52A2A;
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #000,
               1px 2px 0px #000,
               1px 3px 0px #000,
               1px 4px 0px #000,
               1px 5px 0px #000,
               1px 6px 0px #000,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

form input {
    margin: 10px 0;
    padding: 10px;
    font-size: 1.2em;
    height: 50px;
    border-radius: 10px;
    background-color: #F0EAD6;
}

form button {
    padding: 10px;
    font-size: 1.2em;
    background-color: #412508;
    color: #fff;
    border: 1px solid wheat;
    cursor: pointer;
    width: 35%;
    margin: 0 auto;
    border-radius: 10px;
}

form button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

form button:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.book {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
}

.book img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.book .description {
    display: none;
}

.book .read-more {
    color: #00f;
    cursor: pointer;
}

.book .truncated-description {
    display: block;
}

.share-button {
    background-color: #00f;
    color: #fff;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.share-button:hover {
    background-color: rgb(3, 3, 84);
}

.share-button:active {
    background-color: rgb(0, 0, 0);
}

.title-share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}